.DS_*
Makefile.global
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.*
configure
configure.in
install-sh
ltmain.sh
missing
mkinstalldirs
.deps
.libs
Makefil*
*.la
*.lo
libtool
modules
run-tests.php